<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規メニュー投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <p><h3>メニュー</h3></p>
        <%= render "form" %>
    </div>
  </div>
</div>