<div><h1 class="card border-primary text-primary text-center">川川うどんについて</h1>
  <div data-aos="fade-left"  class="container bg-light d-flex-md" id="about">
    <div class="col-sm-5 col-sm-4">
      <img src="kawakawa-brothers.jpeg" class="card-img-top " alt="card-img-top">
    </div>
    <div class="col-sm-7 col-sm-8">
      <div class="card-body">
        <h5 class="card-title">ABOUT</h5>
        <p class="card-text"> 艶やかな美しさを持つ手打ち・手切りの麺は、独特のねじれと不ぞろいな太さが特長。口にした瞬間から驚きの食感とコシを発揮し、ちょい甘のスッキリだしと絶妙に絡んで至極の一杯へ。定番のかけやぶっかけはもちろん、自家製スパイスが決め手の「キーマカレーうどん」（500円）もリピート必至の味わいです。新たに仲間入りした和風カレーうどんや、宇多津町「くぼさんのとうふ」の油揚げが乗ったきつねうどんなど、ここでしか楽しめないうまさが満載!
      </div>
    </div>
</div>