<div data-aos="fade-left" class="about">
 <h1 class="title-tag card border-primary text-light text-center ">川川うどんについて</h1>
  <div class="container d-flex" id="about">
      <div class="card mb-3">
        <img src="kawakawa-brothers.webp" class="card-img-top p-5" alt="card-img-top">
        <h5 class="card-title ms-4">About</h5>
        <div class="card-body">
          <p class="card-text">艶やかな美しさを持つ手打ち・手切りの麺は、独特のねじれと不ぞろいな太さが特長。口にした瞬間から驚きの食感とコシを発揮し、ちょい甘のスッキリだしと絶妙に絡んで至極の一杯へ。定番のかけやぶっかけはもちろん、自家製スパイスが決め手の「キーマカレーうどん」（500円）もリピート必至の味わいです。新たに仲間入りした和風カレーうどんや、宇多津町「くぼさんのとうふ」の油揚げが乗ったきつねうどんなど、ここでしか楽しめないうまさが満載!</p>
        </div>
      </div>
  </div>
</div>