<div class="contact">
  <h1 class="card border-primary text-primary text-center">お問い合わせ</h1>
  <div class="container bg-light" id="contact">
    <div class="row">
      <table class="table full-width"  data-aos="fade-right" >
        <tbody>
          <tr>
            <th><label for="name">お名前</label></th>
            <td><input class="full-width" type="text" name="お名前" placeholder="名前を記入" id="exampNameInput"></td>
          </tr>
          <tr>
            <th><label for="email">メールアドレス</label></th>
            <td><input class="full-width" type="email" name="Email" placeholder="メールアドレスを記入" id="exampleEmailInput"></td>
          </tr>
          <tr>
            <th><label for="tel">お電話番号</label></th>
            <td><input class="full-width" type="tel" name="お電話番号" placeholder="お電話番号を記入" id="exampleTellInput"></td>
          </tr>
          <tr>
            <th><label for="exampleMessage">お問い合わせ内容</label></th>
            <td><textarea class="full-width textarea" name="お問い合わせ内容" placeholder="用件をご記入ください …" id="exampleMessage"></textarea></td>
          </tr>
        </tbody>
      </table>
      <p class="center"><input class="button" type="submit" value="送 信"></p>
  </div>
</div>


