<div data-aos="fade-right" class="menur">
  <h1 class="title-tag card border-primary text-light text-center">メニュー</h1><br> 
  <div class="container bg-light"id="menu">
    <div class="row gx-5">
        <%= link_to "おしながき",menus_path,class:"menu-button h2" %>
        <div class="col">
          <div class="p-3 border bg-light"> <img src="ki-ma-curry.JPG" class="img-thumbnail" alt="img-thumbnail"></div>
        </div>
        <div class="col">
          <div class="p-3 border bg-light">  <img src="bukkake.JPG" class="img-thumbnail" alt="img-thumbnail"></div>
        </div>
        <%= link_to "一覧",menus_path,class:"menu-button h2" %>
    </div>
    </div>
  </div>
</div>
