 <div class="container bg-light"id="menu">
  <h1 class="card border-primary text-primary">メニュー</h1><br>
  <div class="row gx-5"  data-aos="fade-right">
      <div class="col">
        <div class="p-3 border bg-light"> <img src="ki-ma-curry.JPG" class="img-thumbnail" alt="img-thumbnail"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">  <img src="bukkake.JPG" class="img-thumbnail" alt="img-thumbnail"></div>
      </div>
  </div>
    <%= link_to "メニュー一覧はこちらから",menus_path,class:"h2" %>
  </div>
</div>
<br>
<br>