<div class="top-image">
    <!-- intervalの設定 -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="15000">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
      </ol>
      <!-- カルーセル部分 -->
      <div class="carousel-inner">
        <!-- First slide -->
        <div class="carousel-item active"> <img class="d-block w-100" alt="img"
            src="kawakawa-gaikan.jpeg">
          <div class="carousel-caption">
            <h5>大きな看板が目印</h5>
            <p>ぜひお越しください!!</p>
          </div>
        </div>
        <!-- Second slide -->
        <div class="carousel-item"> <img class="d-block w-100" alt="img"
            src="bukkake.JPG">
          <div class="carousel-caption">
            <h5>ぶっかけうどん</h5>
            <p>当店の一押しです</p>
          </div>
        </div>
      </div>
    </div>
    

    <div class="container">
       <ul class="list-unstyled p-3">
           <h4><li>営業時間</li></h4>
          <h5>11:00~14:00<br>※休みは火曜日、水曜日
          <li>玉切れ・臨時休業の場合あり。</li>
          <li>柔らかめの細麺。茹で置きしないため提供にお時間がかかります。ご了承ください。</li>
          <li>食器の返却や天ぷらがセルフです。</li>
          <li>各メニューなくなり次第終了です</li></h5>
        </ul>
    </div>
</div>