<div class = attention-message>
当店は食器の返却はセルフサービスとなっております。
恐れ入りますが食後に返却口まで返却よろしくお願いいたします。
</div>
<div>
<%= image_tag "96A1EF12-B577-4D28-9BC7-50308896487C_1_105_c.jpeg", class: "attention-image" %>
</div>