川川うどんの概要

<div class= summary-message> 
<h3>お客様にも店名を不思議がられます。本当に大した意味はなく、父方の名字が川田で母方の名字が柳川ですので、一文字ずつ取って「川川うどん」としました(笑)。

お客様からも聞かれますが、深い意味はないんですよ。弟と私で二人三脚でやっています。

当店のうどんは、強いコシとか弾力とは真逆の細麺だと思います。うどんづくりの工程で讃岐うどん特有の「踏み」作業はしていません。手で鍛えるのみにとどめて、熟成時間を1日かけるようにしています。

なんといっても、香川県はうどん激戦区でレベルも高い。その中で個性を打ち出していかなければいけませんから。

オープン当初は、どちらかと言えばオーソドックスなうどんを作っておりました。自分の中で色々と考えましたが…最後は自分が一番好きな現在の細麺に決めました。

当初は小麦粉もASWで安定感のあるうどんを…と考えていました。

しかし、自分の好きなもちもちとした加水率高めの熟成麵をつくるには国産小麦の方が良かったので、何パターンも試しながら試行錯誤の連続で作りました。それ以降は季節や材料の状態で微調整はしていますが、ほぼ変えていません。

自分が麺を中心に仕込んで、弟が創作系メニューを担当しています。当店はロケーションは昔の讃岐うどん店、店内はカフェのような雰囲気の店づくりとしています。こうすることで色々な層のお客様に来て頂けるのではないかと思いました。時間もお金もかかりましたね(笑)。

そのようなコンセプトにそぐうメニューも必要ですから…弟がつくる創作系メニューはウチの生命線でもあります。</h3>

</div>