/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  background-color: white;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #CCC;
  height: 100px;
  width: 170px;
  background-color: white;
}

.hidden{
  display: none;
 }


/* ヘッダー */

/* header {
  height: 50px;
  background-color: white;
  padding: 10px 0;
  display: flex;
} */

.title{
  display: flex;
  justify-content: center;  
  /* background-color: white; */
}

.contact-button {
	padding: 1rem;
	border: 2px solid black;
  background-color: white;
}

.navbar {
  padding: 20px;
  height: 70px;
  width: 15%;
  border: solid 2px; 
  background-color: aliceblue;
  left: 30px;
  text-align: center;
}

.nav-lists {
  /* display: flex; */
  /* justify-content: space-between; */
  position: absolute;
  top: 70px;
}

/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}

#pagetop {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#pagetop a {
  display: block;
  background-color: black;
  color: white;
  width: 50px;
  padding: 10px 5px;
  text-align: center;
}

#pagetop a:hover {
  background-color: var(--link-color);
}

/* pages */
/* index内 */
.main{
  display: block;
  margin: 0 auto;

}
.bg-image {
  border:  solid 1px;                             /* 枠線指定 */
  display:  block;                         
  background-color: rgba(209, 209, 209, 0.7);     /* 背景色指定 */
  padding:  10px;        /* 余白指定 */
  border: solid 2px;      /* 枠線指定 */
  height: 70vh;
  width: 100vh;
  margin: 0 auto;
}

.top-image{
  height: 100%;
  width: 100%;
 }

.open{
  text-align: center;
}

.header-box {
	display: flex;
  justify-content: end;
  margin: 10px;  
}	

.contents{
  display: block;
  margin: auto;
}

/* .first-view{} */


.upper-content{
  display: block;
  margin: 0 auto;
}

.heading-name{
  text-align: center;
  display: flex;
  justify-content: center;
}

.instagram-media{
  display: flex;
  justify-content: center;

} 

.attention-content{
  display: flex;
  justify-content: center;
}


/* summary内 */
.summary-title{
  text-align: center;
}

.summary{
  text-align: left;
  padding: 0px 300px 30px 300px;
}



/* アクセス内 */
/* .map{
  display: block;
  padding: 50px;
} */

.access{
  display: block;
  margin: 0 auto;

}
.access-image{
height: 70vh;
/* width: 100%; */
max-width: 100%;
}

.access-message{
 display: block;
 float: right;
 text-align: center;
 width: 40%;
}

/* attention内 */
.attention-message{
  display: flex;
  justify-content: center;
}

.attention-image{
  height: 50vh;
  width: 70%;
  display: block;
  margin: auto;
  padding: 100px;
}


/* menu内 */

/* index内 */

.basic-card{
  display: flex;
  justify-content: space-around;

  /* margin: auto; */
}

.card__img{
  height: 30vh;
  width:40vh;
}

.limit-card{
  display: flex;
  margin: auto;

}

/* new内 */

/* .main */

/* .innner */

/* .form_wrapper */

/* .page-heading */



/* form内 */


/* .food_btn */
/* .field */
/* .form__text */
/* .form__btn  */


/* show内 */


/* .foods__heading */

/* .food_image */

/* .food_manage */




/* /タブの通常状態 */
.tab {
  color: #111;
}

/* //コンテンツの通常状態 */
.tabpanel {
  display: none;
}