.hidden{
  display: none;
 }

 .li,ul{
  list-style: none;
 }

/* ヘッダー */
.title{
  display: flex;
  justify-content: center; 
  color: #333;
  /* background-color: white; */
}

/* .navbar {
  height: 10%;
  width: 10%;
  border: solid 2px; 
  background-color: aliceblue;
  margin-left: 40px;
  text-align: center;

} */


 #pull-down ul{ 
  margin: 0; 
  padding: 0; 
  list-style: none; 
  }
 #pulldown li{ 
  display: inline; 
  padding: 0; 
  margin: 0; 
  }
  #pull-down li a{
  display: block; 
  border: 1px solid #9F99A3;
  padding: 3px 10px;
  text-decoration: none;
  width: 500px;
  color: #333;
  margin: 2px 0px;
  text-align: left;
  font-size: 30px;

  }
  #pull-down li a:hover{
  border: 1px solid #8593A9;
  background-color: #9EB7DD;
  }
  




.nav-title{
  background-color: aliceblue;
  margin-left: 40px;
  width: 10%;

}

.nav-lists {
  width: 200px;
  position: absolute;
}

.contact-button {
	padding: 3rem;
	border: 2px solid black;
  background-color: aliceblue;
  color: #333;
  margin-right: 350px;
}

.open{
  text-align: center;
}


/* body */



/* .wapper{ */
	/* margin:0 auto; */
	/* max-width: 350px; */

/* } */

/* .top{
  display: block;
  margin: 0 auto;
} */

.bg-image {
  display:  block;                         
  background-color: rgba(209, 209, 209, 0.7);     /* 背景色指定 */
  padding:  10px;        /* 余白指定 */
  border: solid 2px;      /* 枠線指定 */
  width: 100vh;
  margin: 0 auto;
}

.top-image{
  height: 100%;
  width: 100%;
 }



.header-box {
	display: flex;
  justify-content: end;
  margin: 10px;  
}	

.contents{
  display: block;
  margin: auto;
}

/* .first-view{} */


/* .upper-content{
  display: block;
  margin: 0 auto;
} */

.heading-name{
  display: flex;
  justify-content: center;
}

.instagram-center {
	margin:0 auto;
	max-width: 350px;
  
}

.instagram-media{
  display: flex;
  justify-content: center;

} 

.attention-content{
  display: flex;
  justify-content: center;
}


/* summary内 */
.summary-title{
  text-align: center;
}

.summary{
  text-align: center;
  padding: 30px 250px 30px 250px;
}



/* アクセス内 */
/* .map{
  display: block;
  padding: 50px;
} */

.access-title{
  text-align: center;
}

.access{
  /* display: 
  margin: 0 auto; */
}


.access-message{
  border: solid 2px;      /* 枠線指定 */
  width: 40%;

}

.access-image{
  display: block;
  margin: 0 auto;
  height: 50vh;
  padding: 20px;
}

.access-layout{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.google-map{
  margin: 0 auto;
	max-width: 350px;
}


/* attention内 */
.attention-message{
  display: flex;
  justify-content: center;
}

.attention-image{
  height: 50vh;
  width: 70%;
  display: block;
  margin: auto;
  padding: 100px;
}


/* menu内 */

/* index内 */

.tablist{
  padding: 20px;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}

.basic-card{
  display: flex;
  justify-content: space-around;

  /* margin: auto; */
}

.card__img{
  height: 30vh;
  width:40vh;
}

.limit-card{
  display: flex;
  margin: auto;

}

/* new内 */

/* .main */

/* .innner */

/* .form_wrapper */

/* .page-heading */



/* form内 */


/* .food_btn */
/* .field */
/* .form__text */
/* .form__btn  */


/* show内 */


/* .foods__heading */

/* .food_image */

/* .food_manage */




/* /タブの通常状態 */
.tab {
  color: #111;
}

/* //コンテンツの通常状態 */
.tabpanel {
  display: none;
}




/* フッター */


footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}

#pagetop {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#pagetop a {
  display: block;
  background-color: black;
  color: white;
  width: 50px;
  padding: 10px 5px;
  text-align: center;
}

#pagetop a:hover {
  background-color: var(--link-color);
}


@media screen and (min-width:1024px){
  .contents {
    display: flex;
    width:1200px;
    font-size:18px;
  }
}
/* 以下は画面サイズが768px以下になったら適応されます */
@media screen and (max-width:768px){
  .contents {
    width:100%;
  }
}
/* 以下は画面サイズが768px〜1024pxまでのあいだに適応されます */
@media screen and (min-width:768px) and (max-width:1024px){
  .contents {
    display: flex;
  }
}